<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>
        ID：<br>
        <%= @question.id %>
    </p>
    <p>
        ID：<br>
        <%= @question.title %>
    </p>
    <p>
        名前：<br>
        <%= @question.name %>
    </p>
    <p>
        質問内容：<br>
        <%= @question.content %>
    </p>

    <div>
        <%= link_to '編集',edit_question_path(@question) %>
    </div>
</body>
</html>